d:\Codes\AI-project-manager\backend\.venv
d:\Codes\AI-project-manager\backend\.env
d:\Codes\AI-project-manager\frontend\node_modules
d:\Codes\AI-project-manager\frontend\dist
__pycache__
*.pyc
.DS_Store
